 /* Universal box sizing */
 * {
    box-sizing: border-box;
}
/* Set the size of the body */
body {
  width: 100%;
}
/* Style the header */
.header {
    background-color:rgb(85, 117, 117);
    text-align: center;
    padding: 20px;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: black;
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Style nav links on hover */
.topnav a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
}
/* Style active link */
.topnav a.active {
    background-color: rgb(85, 117, 117);
    color: white;
}
/* Hide hamburger menu on large screens */
.topnav .icon{
    display: none;
}
/* Displays hamburger menu for mobile devices*/
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
    height: 100vh;
    padding: 15px;
    background-color: rgb(221, 221, 221);
}
#banner {
    width: 100%;
}
#table_medium {
    width: 50vw;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Remove extra photo in homepage for mobile devices */
@media screen and (max-width: 600px) {
.column{
    float: none;
    width: 100%;
} 
#col2 {
    display: none;
}   
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgb(221, 221, 221);
    text-align: center;
    padding: 10px;
}
.footer a {
    text-decoration: none;
    color: black;
}